@charset "UTF-8";
/* line 5, ../sass/qiye-serve-login.scss */
.mobile-serve-login {
  /*头部*/
  /*提示底部*/
}
/* line 7, ../sass/qiye-serve-login.scss */
.mobile-serve-login .top {
  width: 100%;
  height: 8.74667rem;
  background-image: url("../img/qywx/bw-bg.png");
  background-size: cover;
}
/* line 12, ../sass/qiye-serve-login.scss */
.mobile-serve-login .top .info-box {
  width: 92%;
  height: 6.48533rem;
  margin: 0 4%;
  position: absolute;
  top: 1.74933rem;
  background: white;
}
/* line 19, ../sass/qiye-serve-login.scss */
.mobile-serve-login .top .info-box .t-box {
  height: 1.83467rem;
  margin: 1.10933rem 0.64rem;
}
/* line 22, ../sass/qiye-serve-login.scss */
.mobile-serve-login .top .info-box .t-box img {
  width: 1.83467rem;
  height: 1.83467rem;
  border-radius: 50%;
}
/* line 27, ../sass/qiye-serve-login.scss */
.mobile-serve-login .top .info-box .t-box div {
  width: 80%;
  height: 100%;
}
/* line 30, ../sass/qiye-serve-login.scss */
.mobile-serve-login .top .info-box .t-box div p:first-child {
  color: #565555;
  font-size: 0.59733rem;
}
/* line 34, ../sass/qiye-serve-login.scss */
.mobile-serve-login .top .info-box .t-box div p:last-child {
  color: #939393;
  font-size: 0.512rem;
}
/* line 40, ../sass/qiye-serve-login.scss */
.mobile-serve-login .top .info-box .b-box {
  padding: 0 0.72533rem;
}
/* line 42, ../sass/qiye-serve-login.scss */
.mobile-serve-login .top .info-box .b-box button {
  width: 6.4rem;
  height: 1.6rem;
  border-radius: 0.128rem;
  font-size: 0.59733rem;
  color: white;
}
/* line 48, ../sass/qiye-serve-login.scss */
.mobile-serve-login .top .info-box .b-box button img {
  width: 1.13067rem;
  height: 1.13067rem;
}
/* line 53, ../sass/qiye-serve-login.scss */
.mobile-serve-login .top .info-box .b-box .tel-btn {
  background: -webkit-linear-gradient(left, #00d165, #01c046);
  background: -o-linear-gradient(left, #00d165, #01c046);
  background: -moz-linear-gradient(left, #00d165, #01c046);
  background: linear-gradient(left, #00d165, #01c046);
}
/* line 59, ../sass/qiye-serve-login.scss */
.mobile-serve-login .top .info-box .b-box .in-btn {
  background: -webkit-linear-gradient(left, #ff8205, #ff6c16);
  background: -o-linear-gradient(left, #ff8205, #ff6c16);
  background: -moz-linear-gradient(left, #ff8205, #ff6c16);
  background: linear-gradient(left, #ff8205, #ff6c16);
}
/* line 68, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap {
  background-color: #f1f0f1;
  padding: 0 4% 0 4%;
}
/* line 72, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap > li {
  background-color: #ffffff;
  padding: 0 0.64rem;
}
/* line 75, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap > li:not(:last-child) {
  margin-bottom: 0.512rem;
}
/* line 78, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap > li .title {
  height: 2.13333rem;
  font-size: 0.68267rem;
  color: #000000;
  border-bottom: 2px solid #f0eeee;
}
/* line 83, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap > li .title .m-img {
  width: 0.64rem;
  height: 0.64rem;
  border-radius: 0.10667rem;
  margin-right: 0.34133rem;
}
/* line 89, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap > li .title .next {
  width: 0.42667rem;
  height: 0.42667rem;
}
/* line 94, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap > li .total {
  height: 2.13333rem;
  line-height: 2.13333rem;
  text-align: center;
  font-size: 0.59733rem;
  margin: 0.85333rem 0;
  border: dashed 1px #c1c1c1;
  color: #fd5234;
}
/* line 107, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .limit-box .time {
  margin: 1.49333rem 0;
  height: 2.13333rem;
  line-height: 2.13333rem;
  text-align: center;
  border: dashed 1px #c1c1c1;
  font-size: 0.59733rem;
  color: #474747;
}
/* line 116, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .limit-box .t-down {
  font-size: 0.55467rem;
  color: #474747;
}
/* line 119, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .limit-box .t-down .t-item {
  display: inline-block;
  width: 1.70667rem;
  height: 1.70667rem;
  line-height: 1.70667rem;
  background-color: #faddd8;
  border: 1px dashed #fd5234;
  font-size: 1.024rem;
  text-align: center;
  color: #fd5234;
  margin-left: 0.42667rem;
}
/* line 132, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .limit-box .notice {
  padding: 0.42667rem 0.49067rem;
  margin-top: 0.64rem;
  background-color: #fff9db;
  color: #cd7302;
  font-size: 0.55467rem;
  line-height: 1.024rem;
}
/* line 141, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .limit-box .btn-cont button {
  margin: 1.024rem 0;
  width: 6.4rem;
  height: 1.62133rem;
  line-height: 1.62133rem;
  text-align: center;
  border-radius: 0.17067rem;
  font-size: 0.59733rem;
}
/* line 150, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .limit-box .btn-cont .renew-btn {
  border: solid 2px #fd5234;
  color: #fd5234;
}
/* line 154, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .limit-box .btn-cont .share-btn {
  border: solid 2px #0096ff;
  color: #0096ff;
}
/* line 159, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .limit-box .points {
  padding-bottom: 0.98133rem;
  font-size: 0.55467rem;
  color: #939393;
}
/* line 163, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .limit-box .points .t-main {
  color: #fd5234;
}
/* line 172, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .tx-item {
  border-bottom: 2px solid #f0eeee;
}
/* line 173, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .tx-item .head {
  font-size: 0.512rem;
  padding-top: 1.06667rem;
}
/* line 176, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .tx-item .head p {
  color: #939393;
}
/* line 179, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .tx-item .head button {
  width: 2.496rem;
  height: 0.896rem;
  line-height: 0.896rem;
  text-align: center;
  font-size: 0.512rem;
  border-radius: 0.10667rem;
}
/* line 190, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .tx-item .i-cont .i-name {
  font-size: 0.64rem;
  color: #000000;
  padding-top: 0.21333rem;
}
/* line 195, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .tx-item .i-cont .i-text {
  font-size: 0.59733rem;
  color: #474747;
  line-height: 1.024rem;
  padding: 0.64rem 0;
}
/* line 201, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .tx-item .i-cont .i-open {
  padding: 0.59733rem 0 1.23733rem 0;
}
/* line 203, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .tx-item .i-cont .i-open .open-img {
  width: 0.42667rem;
  height: 0.42667rem;
  text-align: center;
  margin: 0 auto;
  display: block;
}
/* line 218, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .finish .head button {
  border: solid 2px #fd5234;
  color: #fd5234;
}
/* line 224, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .finish .open-cont .sele-ul {
  margin: 0.96rem 0;
}
/* line 227, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .finish .open-cont .sele-ul li img {
  width: 2.28267rem;
  height: 2.28267rem;
}
/* line 231, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .finish .open-cont .sele-ul li button {
  width: 6.4rem;
  height: 1.62133rem;
  line-height: 1.62133rem;
  text-align: center;
  border-radius: 0.17067rem;
  font-size: 0.59733rem;
  margin-top: 1.06667rem;
}
/* line 240, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .finish .open-cont .sele-ul li .preview-btn {
  border: solid 2px #fd5234;
  color: #fd5234;
}
/* line 244, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .finish .open-cont .sele-ul li .email-btn {
  border: solid 2px #0096ff;
  color: #0096ff;
}
/* line 248, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .finish .open-cont .sele-ul li:last-child {
  position: relative;
}
/* line 251, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .finish .open-cont .sele-ul li .set-tx {
  position: absolute;
  right: 0;
  top: -1.6rem;
  height: 1.28rem;
  line-height: 1.28rem;
  padding: 0 0.42667rem;
  border-radius: 0.17067rem;
  background-color: #a8a8a8;
  font-size: 0.512rem;
  color: #ffffff;
}
/* line 262, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .finish .open-cont .sele-ul li .set-tx .triangle_border_down {
  display: block;
  width: 0;
  height: 0;
  border-width: 0.42667rem 0.42667rem 0;
  border-style: solid;
  border-color: #a8a8a8 transparent transparent;
  position: absolute;
  bottom: -0.40533rem;
  left: 50%;
  margin-left: -0.42667rem;
}
/* line 278, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .finish .open-cont .manyi-sele {
  border-top: 2px solid #f0eeee;
  padding: 0.64rem 0;
}
/* line 281, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .finish .open-cont .manyi-sele p {
  width: 50%;
  text-align: center;
  color: #939393;
  font-size: 0.512rem;
}
/* line 285, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .finish .open-cont .manyi-sele p img {
  width: 0.98133rem;
  height: 0.98133rem;
  margin-right: 0.384rem;
}
/* line 292, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .finish .open-cont .manyi-sele p:first-child {
  border-right: 2px solid #f0eeee;
}
/* line 298, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .finish .open-cont .hint {
  padding: 0.64rem 0.42667rem;
  background-color: #f5f5f5;
}
/* line 301, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .finish .open-cont .hint img {
  width: 0.61867rem;
  height: 0.61867rem;
  margin-right: 0.256rem;
  margin-top: 0.256rem;
}
/* line 307, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .finish .open-cont .hint p {
  font-size: 0.55467rem;
  line-height: 1.024rem;
  color: #939393;
}
/* line 318, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .doing .head button {
  border: solid 2px #0076ff;
  color: #0076ff;
}
/* line 324, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .doing .open-cont {
  font-size: 0.59733rem;
  margin-top: 0.32rem;
}
/* line 327, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .doing .open-cont p {
  color: #474747;
}
/* line 330, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .tixing-box .tx-cont .doing .open-cont .contact-btn {
  width: 6.4rem;
  height: 1.62133rem;
  line-height: 1.62133rem;
  text-align: center;
  font-size: 0.59733rem;
  color: #ffffff;
  border-radius: 8px;
  background: -webkit-linear-gradient(left, #ff8305, #ff6a16);
  background: -o-linear-gradient(left, #ff8305, #ff6a16);
  background: -moz-linear-gradient(left, #ff8305, #ff6a16);
  background: linear-gradient(left, #ff8305, #ff6a16);
}
/* line 349, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .jishi-box .js-cont {
  border: 1px solid #e6e6e6;
}
/* line 351, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .jishi-box .js-cont li {
  border-bottom: 1px solid #e6e6e6;
}
/* line 353, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .jishi-box .js-cont li p {
  height: 2.60267rem;
  line-height: 2.60267rem;
  text-align: center;
  font-size: 0.55467rem;
  color: #474747;
}
/* line 360, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .jishi-box .js-cont li p:nth-child(1) {
  width: 35%;
  border-right: 1px solid #e6e6e6;
  color: #0076ff;
  padding: 0 0.256rem;
}
/* line 366, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .jishi-box .js-cont li p:nth-child(2) {
  width: 20%;
  border-right: 1px solid #e6e6e6;
  padding: 0 0.21333rem;
}
/* line 371, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .jishi-box .js-cont li p:nth-child(3) {
  width: 45%;
}
/* line 376, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .jishi-box .hint {
  padding: 1.17333rem 0;
}
/* line 378, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .jishi-box .hint p {
  padding: 0.68267rem;
  color: #474747;
  font-size: 0.55467rem;
  line-height: 1.024rem;
  background-color: #fff9db;
}
/* line 384, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .jishi-box .hint p .t-main {
  color: #fd5234;
}
/* line 392, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .chengjiu-box .cj-cont-wrap {
  padding-bottom: 1.152rem;
}
/* line 394, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .chengjiu-box .cj-cont-wrap .cj-cont {
  background-color: #f5f5f5;
  padding: 1.17333rem 0.512rem;
}
/* line 399, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .chengjiu-box .cj-cont-wrap .cj-cont li:not(:last-child) {
  padding-bottom: 1.06667rem;
}
/* line 402, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .chengjiu-box .cj-cont-wrap .cj-cont li .c-index {
  width: 0.768rem;
  height: 0.768rem;
  line-height: 0.768rem;
  border-radius: 50%;
  background-color: #08b6b6;
  color: #ffffff;
  font-size: 0.55467rem;
  text-align: center;
  margin-top: 0.256rem;
}
/* line 413, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .chengjiu-box .cj-cont-wrap .cj-cont li .c-con {
  width: 90%;
  font-size: 0.59733rem;
  line-height: 1.06667rem;
}
/* line 417, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .chengjiu-box .cj-cont-wrap .cj-cont li .c-con .t-weight {
  font-weight: bold;
}
/* line 430, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .file-box .file-cont-wrap {
  padding-bottom: 1.17333rem;
}
/* line 432, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .file-box .file-cont-wrap .file-cont {
  border: solid 1px #e6e6e6;
}
/* line 434, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .file-box .file-cont-wrap .file-cont li {
  border-bottom: solid 1px #e6e6e6;
  height: 2.38933rem;
  line-height: 2.38933rem;
  color: #474747;
  font-size: 0.55467rem;
}
/* line 440, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .file-box .file-cont-wrap .file-cont li p:nth-child(1) {
  width: 34%;
  border-right: solid 2px #e6e6e6;
  text-align: center;
}
/* line 445, ../sass/qiye-serve-login.scss */
.mobile-serve-login .out-wrap .file-box .file-cont-wrap .file-cont li p:nth-child(2) {
  width: 66%;
  padding-left: 0.53333rem;
}
/* line 457, ../sass/qiye-serve-login.scss */
.mobile-serve-login .t-bottom {
  width: 100%;
  height: 2.24rem;
  line-height: 2.24rem;
  text-align: center;
  background: #f1f0f1;
  color: #d2d0d0;
  font-size: 0.59733rem;
  margin-bottom: 2.38933rem;
}
