@charset "UTF-8";
/*头部*/
/* line 5, ../sass/index.scss */
.top {
  width: 100%;
  height: 8.74667rem;
  background-image: url("../images/bw-bg.png");
  background-size: cover;
}
/* line 10, ../sass/index.scss */
.top .info-box {
  width: 94%;
  height: 6.48533rem;
  margin: 0 3%;
  position: absolute;
  top: 1.74933rem;
  background: white;
}
/* line 17, ../sass/index.scss */
.top .info-box .t-box {
  height: 1.83467rem;
  padding: 1.10933rem 0.64rem;
}
/* line 20, ../sass/index.scss */
.top .info-box .t-box img {
  width: 1.83467rem;
  height: 1.83467rem;
  border-radius: 50%;
}
/* line 25, ../sass/index.scss */
.top .info-box .t-box div {
  width: 80%;
  height: 100%;
}
/* line 28, ../sass/index.scss */
.top .info-box .t-box div p:first-child {
  color: #565555;
  font-size: 0.59733rem;
}
/* line 32, ../sass/index.scss */
.top .info-box .t-box div p:last-child {
  color: #939393;
  font-size: 0.512rem;
}
/* line 38, ../sass/index.scss */
.top .info-box .b-box {
  padding: 0 0.72533rem;
}
/* line 40, ../sass/index.scss */
.top .info-box .b-box button {
  width: 6.4rem;
  height: 1.6rem;
  border-radius: 0.128rem;
  font-size: 0.59733rem;
  color: white;
}
/* line 46, ../sass/index.scss */
.top .info-box .b-box button img {
  width: 1.13067rem;
  height: 1.13067rem;
}
/* line 51, ../sass/index.scss */
.top .info-box .b-box .tel-btn {
  background: -webkit-linear-gradient(#00d165, #01c046);
  background: -o-linear-gradient(#00d165, #01c046);
  background: -moz-linear-gradient(#00d165, #01c046);
  background: linear-gradient(#00d165, #01c046);
}
/* line 57, ../sass/index.scss */
.top .info-box .b-box .in-btn {
  background: -webkit-linear-gradient(#ff8205, #ff6c16);
  background: -o-linear-gradient(#ff8205, #ff6c16);
  background: -moz-linear-gradient(#ff8205, #ff6c16);
  background: linear-gradient(#ff8205, #ff6c16);
}

/* line 66, ../sass/index.scss */
.serve-wrap {
  width: 100%;
  height: 14.54933rem;
  background-image: url("../images/t-bg.png");
  background-size: contain;
}
/* line 71, ../sass/index.scss */
.serve-wrap p {
  text-align: center;
}
/* line 74, ../sass/index.scss */
.serve-wrap .title {
  font-size: 0.64rem;
  color: white;
  padding-top: 1.06667rem;
}
/* line 79, ../sass/index.scss */
.serve-wrap .tit {
  font-size: 0.55467rem;
  color: #a4b1bb;
  padding: 0.74667rem 0 0.896rem 0;
}
/* line 84, ../sass/index.scss */
.serve-wrap .content {
  padding: 0 3%;
  width: 88%;
  height: 9.728rem;
  margin: 0 3%;
  background: white;
  overflow-y: scroll;
}
/* line 91, ../sass/index.scss */
.serve-wrap .content li {
  padding: 0.55467rem 0;
}
/* line 93, ../sass/index.scss */
.serve-wrap .content li .l-box {
  padding-left: 0.64rem;
}
/* line 95, ../sass/index.scss */
.serve-wrap .content li .l-box img {
  width: 3.2rem;
  height: 3.2rem;
}
/* line 99, ../sass/index.scss */
.serve-wrap .content li .l-box p {
  font-size: 0.59733rem;
  color: #2a3356;
}
/* line 104, ../sass/index.scss */
.serve-wrap .content li .r-box {
  width: 60%;
  padding-top: 0.55467rem;
}
/* line 107, ../sass/index.scss */
.serve-wrap .content li .r-box img {
  margin-right: 0.21333rem;
}
/* line 110, ../sass/index.scss */
.serve-wrap .content li .r-box .t-main {
  color: #ef905f;
}
/* line 113, ../sass/index.scss */
.serve-wrap .content li .r-box table {
  border: 1px solid #bfbfbf;
  font-size: 0.512rem;
}
/* line 117, ../sass/index.scss */
.serve-wrap .content li .r-box tr, .serve-wrap .content li .r-box td {
  border: 1px solid #bfbfbf;
  padding: 0.27733rem;
}

/* line 128, ../sass/index.scss */
.intro-wrap .head {
  height: 3.328rem;
  background: white;
  text-align: center;
}
/* line 132, ../sass/index.scss */
.intro-wrap .head p {
  padding-top: 1.06667rem;
  padding-bottom: 0.53333rem;
  font-size: 0.68267rem;
  color: #000;
}
/* line 138, ../sass/index.scss */
.intro-wrap .head .line {
  width: 1.10933rem;
  height: 0.04267rem;
  background: #0076ff;
  margin: 0 auto;
}
/* line 145, ../sass/index.scss */
.intro-wrap img {
  width: 100%;
  height: 14.144rem;
}

/* line 150, ../sass/index.scss */
.divi {
  width: 100%;
  height: 0.512rem;
  background: #f1f0f1;
}

/* line 156, ../sass/index.scss */
.fengxian-wrap .head {
  text-align: center;
  font-size: 0.68267rem;
  color: #000;
  padding: 0.78933rem 0.64rem;
  position: relative;
}
/* line 162, ../sass/index.scss */
.fengxian-wrap .head .m-pic {
  width: 1.49333rem;
  height: 1.49333rem;
  border-radius: 50%;
}
/* line 167, ../sass/index.scss */
.fengxian-wrap .head .tesePic {
  position: absolute;
  right: 0;
  top: 0;
  width: 2.51733rem;
  height: 2.51733rem;
}
/* line 175, ../sass/index.scss */
.fengxian-wrap .line {
  width: 94%;
  height: 1px;
  background: #f0eeee;
  margin: 0 auto;
}
/* line 176, ../sass/index.scss */
.fengxian-wrap .text-cont {
  position: relative;
  margin: 0.64rem;
  padding-bottom: 0.64rem;
  height: 6.4rem;
  color: #bbb7b7;
  font-size: 0.68267rem;
}
/* line 183, ../sass/index.scss */
.fengxian-wrap .text-cont li {
  position: absolute;
}
/* line 185, ../sass/index.scss */
.fengxian-wrap .text-cont li:nth-child(1) {
  top: 0;
  left: 0.064rem;
  font-size: 0.68267rem;
  color: #696969;
}
/* line 191, ../sass/index.scss */
.fengxian-wrap .text-cont li:nth-child(2) {
  top: 0.85333rem;
  right: 0.064rem;
  font-size: 0.68267rem;
  color: #696969;
}
/* line 197, ../sass/index.scss */
.fengxian-wrap .text-cont li:nth-child(3) {
  top: 1.92rem;
  right: 4.69333rem;
  font-size: 0.832rem;
  color: #fd5234;
}
/* line 203, ../sass/index.scss */
.fengxian-wrap .text-cont li:nth-child(4) {
  top: 3.30667rem;
  left: 0.85333rem;
}
/* line 207, ../sass/index.scss */
.fengxian-wrap .text-cont li:nth-child(5) {
  top: 3.84rem;
  right: 1.06667rem;
}
/* line 212, ../sass/index.scss */
.fengxian-wrap .text-cont li:nth-child(6) {
  top: 5.248rem;
  left: 1.152rem;
  font-size: 0.72533rem;
}
/* line 217, ../sass/index.scss */
.fengxian-wrap .text-cont li span {
  color: #f58471;
}

/* line 223, ../sass/index.scss */
.buy-wrap {
  height: 8.04267rem;
  background: #f5f5f5;
}
/* line 226, ../sass/index.scss */
.buy-wrap p {
  text-align: center;
}
/* line 229, ../sass/index.scss */
.buy-wrap p:nth-child(1) {
  font-size: 0.55467rem;
  color: #858687;
  padding-top: 1.024rem;
}
/* line 234, ../sass/index.scss */
.buy-wrap p:nth-child(2) {
  font-size: 0.768rem;
  color: #2c3e50;
  padding-top: 0.68267rem;
}
/* line 239, ../sass/index.scss */
.buy-wrap p:nth-child(3) {
  font-size: 0.512rem;
  color: #204fa1;
  padding: 0.68267rem 0;
}
/* line 244, ../sass/index.scss */
.buy-wrap img {
  width: 0.46933rem;
  height: 0.46933rem;
}
/* line 248, ../sass/index.scss */
.buy-wrap .buy-btn {
  width: 34%;
  height: 1.62133rem;
  line-height: 1.62133rem;
  text-align: center;
  margin: 0 33%;
  border-radius: 0.81067rem;
  color: white;
  background: #f35437;
  font-size: 0.64rem;
  margin-bottom: 1.28rem;
}

/* line 262, ../sass/index.scss */
.adver-wrap .head {
  height: 4.13867rem;
}
/* line 264, ../sass/index.scss */
.adver-wrap .head p {
  text-align: center;
}
/* line 266, ../sass/index.scss */
.adver-wrap .head p:first-child {
  font-size: 0.68267rem;
  color: #303e4e;
  padding-top: 1.17333rem;
}
/* line 271, ../sass/index.scss */
.adver-wrap .head p:last-child {
  font-size: 0.59733rem;
  color: #858687;
  padding-top: 0.59733rem;
}
/* line 278, ../sass/index.scss */
.adver-wrap img {
  width: 100%;
  height: 10.19733rem;
}

/*咨询*/
/* line 285, ../sass/index.scss */
.zixun-wrap .aver {
  width: 68%;
  height: 1.45067rem;
  margin: 1.17333rem 16%;
  border: 1px solid #e63736;
}
/* line 290, ../sass/index.scss */
.zixun-wrap .aver p {
  width: 98%;
  height: 1.23733rem;
  line-height: 1.23733rem;
  text-align: center;
  font-size: 0.55467rem;
  background: #e63736;
  color: white;
}
/* line 298, ../sass/index.scss */
.zixun-wrap .aver p span {
  font-size: 0.72533rem;
}
/* line 303, ../sass/index.scss */
.zixun-wrap .reject {
  color: #e63736;
  text-align: center;
  font-size: 0.53333rem;
}
/* line 307, ../sass/index.scss */
.zixun-wrap .reject span {
  border-bottom: 1px solid #e63736;
  text-decoration: line-through;
  padding: 0 0.10667rem;
}
/* line 311, ../sass/index.scss */
.zixun-wrap .reject span:first-child {
  font-size: 0.68267rem;
}
/* line 316, ../sass/index.scss */
.zixun-wrap .zixun-btn {
  width: 34%;
  height: 1.62133rem;
  line-height: 1.62133rem;
  text-align: center;
  margin: 0.896rem 33% 0 33%;
  border-radius: 0.81067rem;
  color: white;
  background: #f35437;
  font-size: 0.64rem;
  margin-bottom: 1.152rem;
}

/*比较*/
/* line 330, ../sass/index.scss */
.contrast-wrap {
  background: #f1f0f1;
  padding: 3%;
}
/* line 333, ../sass/index.scss */
.contrast-wrap .box {
  border: 1px solid #e6e6e6;
  background: white;
}
/* line 336, ../sass/index.scss */
.contrast-wrap .box ul {
  width: 50%;
  font-size: 0.512rem;
  color: #474747;
}
/* line 340, ../sass/index.scss */
.contrast-wrap .box ul li {
  height: 2.304rem;
  line-height: 2.304rem;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}
/* line 346, ../sass/index.scss */
.contrast-wrap .box ul li.head {
  font-size: 0.64rem;
  height: 1.51467rem;
  line-height: 1.51467rem;
  background: #5dc0f2;
  color: white;
}
/* line 356, ../sass/index.scss */
.contrast-wrap .box .trandision li {
  border-right: 1px solid #e6e6e6;
}
/* line 359, ../sass/index.scss */
.contrast-wrap .box .trandision li.head {
  background: #5dc0f2;
}
/* line 364, ../sass/index.scss */
.contrast-wrap .box .yft li.head {
  background: #2a3356;
}
/* line 369, ../sass/index.scss */
.contrast-wrap .bot-box {
  background: white;
  padding: 3%;
  margin-top: 3%;
}
/* line 373, ../sass/index.scss */
.contrast-wrap .bot-box .member {
  background: #f5f5f5;
  padding: 0.74667rem;
  margin: 3%;
  font-size: 0.59733rem;
  color: #474747;
}
/* line 379, ../sass/index.scss */
.contrast-wrap .bot-box .member p {
  line-height: 1.06667rem;
}
/* line 382, ../sass/index.scss */
.contrast-wrap .bot-box .member span {
  color: #fd5234;
}
/* line 386, ../sass/index.scss */
.contrast-wrap .bot-box .title {
  font-size: 0.64rem;
  color: #000000;
  text-align: center;
  padding-top: 0.96rem;
  padding-bottom: 0.93867rem;
  letter-spacing: 0.064rem;
}
/* line 394, ../sass/index.scss */
.contrast-wrap .bot-box .cont {
  padding-bottom: 0.29867rem;
}
/* line 396, ../sass/index.scss */
.contrast-wrap .bot-box .cont li {
  width: 40%;
  border: 1px dashed #fd5234;
  color: #fd5234;
  height: 1.57867rem;
  line-height: 1.57867rem;
  text-align: center;
  font-size: 0.59733rem;
}
/* line 405, ../sass/index.scss */
.contrast-wrap .bot-box .cont li:nth-of-type(odd) {
  margin: 0.34133rem 3% 0.34133rem 6%;
}
/* line 406, ../sass/index.scss */
.contrast-wrap .bot-box .cont li:nth-of-type(even) {
  margin: 0.34133rem 6% 0.34133rem 3%;
}

/* line 411, ../sass/index.scss */
.any {
  height: 6.61333rem;
  background: #21c2f8;
}
/* line 414, ../sass/index.scss */
.any p {
  text-align: center;
  color: white;
  font-size: 0.768rem;
}
/* line 418, ../sass/index.scss */
.any p:first-child {
  padding: 0.96rem 0 0.34133rem 0;
}
/* line 421, ../sass/index.scss */
.any p span {
  font-size: 1.06667rem;
}
/* line 425, ../sass/index.scss */
.any div {
  width: 50%;
  height: 1.408rem;
  line-height: 1.408rem;
  text-align: center;
  margin: 0.53333rem auto;
  border: 1px solid white;
  color: white;
  font-size: 0.64rem;
  border-radius: 0.10667rem;
}

/*地图信息*/
/* line 439, ../sass/index.scss */
.map-wrap .map {
  width: 100%;
  height: 13.29067rem;
}
/* line 443, ../sass/index.scss */
.map-wrap .cont {
  padding: 0.98133rem 0.896rem;
}
/* line 445, ../sass/index.scss */
.map-wrap .cont li {
  color: #3e4c5c;
  font-size: 0.512rem;
  padding-bottom: 0.42667rem;
}
/* line 449, ../sass/index.scss */
.map-wrap .cont li span {
  font-size: 0.53333rem;
  color: #222323;
}
/* line 455, ../sass/index.scss */
.map-wrap .start-btn {
  width: 90%;
  margin: 0 5%;
  height: 1.62133rem;
  line-height: 1.62133rem;
  text-align: center;
  color: white;
  background: #f35437;
  font-size: 0.64rem;
  border-radius: 0.10667rem;
  margin-bottom: 1.06667rem;
}

/*提示底部*/
/* line 469, ../sass/index.scss */
.t-bottom {
  width: 100%;
  height: 2.24rem;
  line-height: 2.24rem;
  text-align: center;
  background: #f1f0f1;
  color: #d2d0d0;
  font-size: 0.59733rem;
}
